@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import './mobile.css';
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black;
  font-family: "Fira Code", monospace;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* https://codepen.io/subfauna/pen/CLtmF - Dark scrollbar*/
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  background: #000;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  color: white;
  background: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.btn {
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.keybindings {
  margin: auto;
  justify-self: flex-start;
}
.controls {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.controls * {
  margin: auto;
}
.controls input {
  margin-left: 50px;
}
.controls label {
  margin-left: 10px;
  cursor: pointer;
}
.snippet {
  background-color: black;
  border: none;
  margin: auto;
  font-family: "Fira Code", monospace;
  resize: none;
  overflow-y: auto;
  padding: 15px;
  min-height: 100%;
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  color: white;
}
.snippet:focus {
  outline: none;
}
#encrypt {
  cursor: pointer;
}
#key {
  background: transparent;
  color: white;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid white;
}
#key:focus {
  outline: none;
}
.snippet-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
a {
  text-decoration: none;
}
.line-text {
  padding-left: 10px;
}
td {
  white-space: pre;
  margin-top: 0px;
  margin: 0;
  padding: 0;
}
.line-number {
  user-select: none;
}


@media only screen and (max-width : 420px) {
  .keybinding-text {
      display: none;
  }
  .snippet-main {
    height: 90vh;
  }
  .footer {
    height: 10vh;
  }
  .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .controls * {
    margin: auto;
  }
  #encrypt {
    margin: auto;
  }
  .encrypt-div {
    margin-top: 5px;
  }
  #key {
    margin-left: 10px;
  }
}
  